<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    
    <body>
        <ul>
            <li><a class="active" href="home">Home</a></li>
            <li><a href="selecionar_inv">Investigação</a></li>
            <li><a href="banco_precos">Banco de preços</a></li>
            <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            SCDF - Relatório de preços para itens comercializados com o poder público
        </h1>
        <br>
        <br>
        <br>
        <form action="/consulta_preco" method="POST" name="form_preco">
            <div style="text-align:center">
                    Insira a descrição do item a ser pesquisado:<br><br><br>
                <input type="text" name="descItem" size="55" value=""><br><br><br>
                <input type="submit" value="Gerar relatório">
            </div>
        </form> 
    </body>

</html>