<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    
    <body>
        <ul>
        <li><a class="active" href="home">Home</a></li>
        <li><a href="selecionar_inv">Investigação</a></li>
        <li><a href="banco_precos">Banco de preços</a></li>
        <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            SCDF - Download de relatório
        </h1>
        <br>
        <br>
        <br>
        <div style="text-align:center">
            <a href="{{link_rel}}" download>{{nome_rel}}</a><br>
        </div>
    </body>

</html>