<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    
    <body>
        <ul>
            <li><a class="active" href="home">Home</a></li>
            <li><a href="selecionar_inv">Investigação</a></li>
            <li><a href="banco_precos">Banco de preços</a></li>
            <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            Bem vindo à Solução em Ciência de Dados Forense (SCDF) - versão WEB!
        </h1>
        <br>
        <h2 style="text-align: left; margin-left: 40px;">
            Descrição dos módulos
        </h2>
        <h3 style="text-align: left; margin-left: 80px;">
            Módulo de Investigações
        </h3>
        <p style="text-align: left; margin-left: 80px;">
            Módulo que requer um processamento prévio da investigação pela equipe de TI da instituição. Após esse processamento,
            selecione sua investigação na aba "Investigação" e gere seus relatórios sobre termos que podem ser encontrados nos 
            documentos da investigação e sobre seus arquivos.
        </p>
        <h3 style="text-align: left; margin-left: 80px;">
            Módulo de Banco de preços
        </h3>
        <p style="text-align: left; margin-left: 80px;">
            Módulo construído a partir de base aberta da Bolsa Eletrônica de Compras (BEC), visa ser uma ferramenta básica, mas
            que usa machine learning para pesquisar na descrição dos itens comprados nesta plataforma e gerar relatório com a
            média dos valores praticados nestas compras e um intervalo considerado estatisticamente razoável para a variação do
            preço. Quando este intervalo for grande demais, isso pode ou não indicar algum problema no processo de compra. 
        </p>
        <h3 style="text-align: left; margin-left: 80px;">
            Módulo de Compras públicas
        </h3>
        <p style="text-align: left; margin-left: 80px;">
            Módulo construído a partir de base do Tribunal de Contas do Estado de São Paulo e dados abertos do portal 
            de transparência. Ele é capaz de gerar dois tipos de relatório, de um CPF ou CNPJ de interesse. 
            Em ambos os casos, os relatórios visam apresentar ao promotor informações sobre todas as empresas em que as pessoas de 
            interesse são sócias e informações sobre a relação entre as empresas e entes governamentais. 
        </p>
    </body>

</html>