<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>
    
    <body> 
        <h1 style="text-align: center;">
            <p>Bem-vindo ao SCDF - versão WEB!</p>
        </h1>
        <div class="login-page">
            <div class="form">
                <form class="login-form" action="/login_user" method="POST" name="form_login">
                    <input name='user' type="text" placeholder="Nome"/>
                    <input name='password' type="password" placeholder="Senha"/>
                    <button>login</button>
                </form>
            </div>
        </div>
    </body>

</html>