<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    
    <body>
        <ul>
        <li><a class="active" href="home">Home</a></li>
        <li><a href="selecionar_inv">Investigação</a></li>
        <li><a href="banco_precos">Banco de preços</a></li>
        <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            SCDF - Relatórios da investigação
        </h1>
        <br>
        <div style="text-align:center">
            Você escolheu a investigação: <br>
            {{pesquisa_escolhida}}
        </div>
        <br>
        <br>
        <div style="text-align:center">
            <form action="/consulta_expressao_inv" method="POST" name="form_palavra">
                Insira a expressão a ser pesquisada:<br><br>
                <input type="text" name="expressao" size="35" value=""><br><br>
                <input type="hidden" name='idInv' value={{pesquisa_escolhida}}>
                <input type="submit" value="Gerar relatórios">
            </form> 
        </div>
        <br>
        <br>
        <br>
        <div style="text-align:center">
            Download de relatórios da investigação: 
            <br>
            <br>
            {{#each lista_relatorios}}
                <a href="{{link_rel}}" download>{{nome_rel}}</a><br>
            {{/each}}
        </div>
    </body>

</html>