<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    
    <body>
        <ul>
            <li><a class="active" href="home">Home</a></li>
            <li><a href="selecionar_inv">Investigação</a></li>
            <li><a href="banco_precos">Banco de preços</a></li>
            <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            SCDF - Relatório de pessoas e empresas
        </h1>
        <br>
        <br>
        <br>
        <div style="text-align:center">
            <form action="/relatorio_empresa" method="POST" name="form_empresa">
                Insira o CNPJ da empresa:<br><br>
                <input type="text" name="cnpj" value=""><br><br>
                <input type="submit" value="Gerar relatório">
            </form> 
            <br>
            <br>
            <br>
            <form action="/relatorio_pessoa" method="POST" name="form_pessoa">
                Insira o CPF da pessoa:<br><br>
                <input type="text" name="cpf" value=""><br><br>
                <input type="submit" value="Gerar relatório">
            </form>
        </div>
    </body>

</html>