<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    
    <body>
        <ul>
        <li><a class="active" href="home">Home</a></li>
        <li><a href="selecionar_inv">Investigação</a></li>
        <li><a href="banco_precos">Banco de preços</a></li>
        <li><a href="relatorio_compras_publicas">Compras públicas</a></li>
        </ul>
        <h1 style="text-align: center;">
            Estas são suas investigações. Escolha qual delas acessar abaixo.
        </h1>
        <br>
        <br>
        <br>
        <div style="text-align:center">
                <form action="/pesquisar_investigacao" method="POST" name="form_login">
                    <select name="idInv">
                    {{#each lista_investigacoes}}
                        <option value="{{id_inv}}">{{nome_investigacao}}</option>
                    {{/each}} 
                    </select> 
                    <br>
                    <br>
                    <button>Selecionar investigação</button>
                </form>
        </div>>
    </body>

</html>